ROUTER_HOST=192.168.0.1
ROUTER_USER=jrenewhite
ROUTER_PASSWORD=replace_me
ROUTER_DHCP_POOL=LAN
TARGET_DNS1=192.168.0.161
TARGET_DNS2=192.168.0.151
CANARY_HOST=192.168.0.151
CANARY_FALLBACK_HOST=192.168.0.152
